.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 7vw;
    box-shadow: 1px 2px 2px grey;
    border-radius: 0 0 20px 0;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-image {
    width: 80%;
    height: 80%;
    margin-left: 30px;

}

.text {
    margin-left: 20px;
}
.text h1 {
    font-size: 80px;
}

.buttons {
    display: flex;
    margin-bottom: 50px;
}

.hero-button1 {
    border: 2px solid #A1C181;
    border-radius: 15px;
    width: 200px;
    height: 35px;
    font-family: "Poppins";
    background-color: white;
    padding: 0px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.2s;
}

.hero-button1:hover {
    border: 2px solid white;
    background-color: #A1C181;
    color: white;
}
.hero-button2 {
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    width: 200px;
    height: 35px;
    font-family: "Poppins";
    background-color: #A1C181;
    padding: 0px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 20px;
    
}

.hero-button2:hover {
    border: 2px solid  #A1C181;
    background-color: white;
    color:  black;
}

.mission {
    text-align: center;
    margin-top: 12%;
    margin-bottom: 12%;
}
.mission-container {
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
    margin-left: 3vw;
    margin-right: 3vw;
}

.mission h1 {
    font-size: 70px;
    margin: -20px 0;
}
.mission-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
}

.mission-info svg {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin-bottom: 15%;
}

.features { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(161,193,129, 0.70);
    color: white;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 7vh;
    box-shadow: 1px 2px 2px grey;
    border-radius: 0 0 20px 0;
    padding: 50px;
}

.features img {
    width: 40%;
    height: 40%;
    
}

.features section {
    width: 45%;
    line-height: 35px;
    margin-left: 10%;

}

.features-heading {
    font-size: 50px;
}
